<div class="container-fluid">
  <div class="page-header">
    <%= link_to  new_auction_item_path, class: 'btn btn-primary' do %>
    New Item
    <% end %>
    <h1 Listing>Items Up for Bid</h1>
  </div>
</div>



<div class="container-fluid">
  <%- @items.each do |item| %>
    <div class="col-xs-12 col-sm-6">
      <div class="media item-for-bid">
        <div class="media-left ">
          <%= link_to auction_item_path(@auction, item) do %>
            <% if item.image_url(:large) %>
            <div class="media pull-left">
              <%= image_tag(item.image_url(:small)) %>
            </div>
            <% end %>
          <% end %>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Lot:<%= item.lot_number %> | <%= item.name %></h4>
          <p>Starting Price: $ <%= item.starting_bid %></p>
        </div>
        <span class="glyphicon glyphicon-heart pull-right" aria-hidden="true"></span>
      </div>
    </div>
  <% end %>
</div>
