<div class="page-header">
  <%= link_to items_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_item_path(@item), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show item</h1>
</div>

<%= image_tag(@item.image_url(:large)) %>

<div class="container">
  <div class="well well-lg">
    Count Down Timer goes here
  </div>
</div>

  <div class="container">
    Category:
    <%= @item.category %>

    Name:
    <%= @item.name %>

    Lot Number:
    <%= @item.lot_number %>

    Starting Bid:
    <%= @item.starting_bid %>

    Description:
    <%= @item.description %>

  </div>



<div class="page-footer">
  <%= @item.bid_increment %>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">BID</button>
        </span>
        <input type="text" class="form-control" placeholder="<%= @item.bid_increment %>">
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="<%= @item.bid_increment %>">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">BID</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</div>
