<%- if logged_in? %>
  <%- if current_user.admin? %>
    <%= link_to auction_items_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Back
    <% end %>
    <%= link_to edit_auction_item_path(@auction, @item), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <%- end %>
    <%= link_to auction_item_path, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <span class="btn btn-primary" aria-hidden="true">Delete Item</span>
    <% end %>
  <%- end %>
<%- end %>

<div class="page-header">
  <h1><%= @item.name %></h1>
</div>

<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="thumbnail">
        <%= image_tag(@item.image_url(:large)) %>
        <div class="caption">
          <h3>
            Category:
            <%= @item.category %>
          </h3>
          <h3>
            Lot Number:
            <%= @item.lot_number %>
          </h3>
          <h3>
            Starting Bid:
            <%= @item.starting_bid %>
          </h3>
          <h3>
            Description:
            <%= @item.description %>
          </h3>
        </div>
      </div>
    </div>

  <div class="well well-md">
    <div id="timer" data-auction-date="<%= @auction.start_time %>">
      <span id="hours"></span>hours
      <span id="minutes"></span>minutes
      <span id="seconds"></span>seconds
    </div>
  </div>
</div>


  <div class="container">
    <div class="well well-lg">
      <div id="timer">
        <span id="days"></span>days
        <span id="hours"></span>hours
        <span id="minutes"></span>minutes
        <span id="seconds"></span>seconds
      </div>
    </div>
  </div>

<div class="page-footer">
  <div class="media-body">
    <h4>Starting Bid: <%= number_to_currency(@item.starting_bid, precision: 0) %></h4>
    <h4>Minimum Bid: <%= number_to_currency(@item.bid_increment, precision: 0) %></h4>
  </div>
  </div>
  <div class="body-show">

  <h5> Bid activity</h5>
  <ul>
    <%= render @item.bids.order(bid_amount: :desc) %>
  </ul>
  </div>
</div>

<span class="bid-footer"> <%= render "bids/form" %></span>
