<div class="page-header">
  <%= link_to auction_items_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_auction_item_path(@auction, @item), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @item.name %></h1>
</div>


<div class="container-fluid">

  <div class="container">
    <div class="well well-lg">
      Count Down Timer goes here
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="thumbnail">
        <%= image_tag(@item.image_url(:large)) %>
        <div class="caption">
          <p>
            Category:
            <%= @item.category %>
          </p>
          <p>
            Lot Number:
            <%= @item.lot_number %>
          </p>
          <p>
            Starting Bid:
            <%= @item.starting_bid %>
          </p>
          <p>
            Description:
            <%= @item.description %>
          </p>
        </div>
      </div>
    </div>
  </div>


<div class="page-footer">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">BID</button>
        </span>
        <input type="text" class="form-control" placeholder="<%= @item.bid_increment %>">
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="<%= @item.bid_increment %>">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">BID</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</div>


<div class="media-body">
  <h4>Item Description:</h4>
  <p> <%= @item.description %></p>
  <h4>Item Category:</h4>
  <p><%= @item.category %></p>
  <h4>Minimum Bid: <%= number_to_currency(@item.starting_bid, precision: 0) %></h4>
  <h4>Bidding Increment: <%= number_to_currency(@item.bid_increment, precision: 0) %></h4>
</div>
</div>
<div class="body-show">
<span> <%= render "bids/form" %></span>
<h5> Current Bids:</h5>
<ul class="list-group">
  <%= render @item.bids.order(bid_amount: :desc) %>
</ul>
</div>
